#level-1{
display: grid;
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(2, 1fr);

}



#level-2{
    display: grid;
    grid-template-columns: 50% 50%;
    

    
    
}

#level-2 .peas{
    grid-column: 1 / span 2;
}

#level-3{
display: grid;
grid-template-columns: repeat( 3, 1fr);
grid-template-rows: repeat(3, 1fr);

}

#level-3 .peas{
    grid-column: 1 / 2;
}

#level-3 .onions{
    grid-column: 2 / 4;
}

#level-3 .tomatoes{
    grid-column: 1 / 3;
}

#level-3 .carrots{
    grid-column: 1 / 4;
}


#level-4{  /*this is the parent you add the grid to and activate it. Also the place where you set the paremeters of the grid.*/
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

#level-4 .peas{
    grid-column: 1 / span 2;
}

#level-4 .onions{
    grid-area: 1 / 3 / 4 / 3; /* the syntax to grab this area is row start / column start / row end / column end/ */
}

#level-4 .carrots{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

#level-5{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr); /*the syntax here means repeat 1 fraction of grid 5 times. */
}

#level-5 .carrots{
    grid-row: 1 / 4;
}

#level-5 .onions{
    grid-row: 1 / 3;
    grid-column: 3 / 3;
}

#level-5 .lettuce{
    grid-area: 1/5/2/6;
}

#level-5 .tomatoes{
    grid-row: 3 / 4;
    grid-column: 2/5;
}

#level-5 .peas{
    grid-area: 2/4/3/6;
}

#level-6{
    display: grid;
    grid-template-rows: repeat(auto-fill, 5rem, 1fr);
    grid-auto-rows: repeat(auto-fit);
    grid-auto-columns: repeat(auto, 5rem, 1fr);
}

